__pycache__/
*.pyc
.env
venv/
.vscode/
webapp/model/pesos_it_1.pth
*.log
*.whl
_distutils_hack/
asgiref/
blinker/
bs4/
certifi/
charset_normalizer/
isympy.py
six.py
socks.py
sockshandler.py
typing_extensions.py