<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/terra.png') }}" type="image/png">
    <title>DeepFlora</title>
    
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Croissant+One&family=Cutive+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header index-result-header">
        <div class="header-left">
            <img src="{{ url_for('static', filename='img/DeepFlora.png') }}" alt="Logo Planta">
            <h2 class="header-title">DeepFlora</h2>
        </div>
        <a href="{{ url_for('main.home_page') }}" class="back-arrow">&#8592;</a>
    </div>
    
    <div class="container">
        <div class="text-container">
            <h1>Descubra o Mundo das Plantas</h1>
            <p>Carregue uma imagem e identifique a espécie da sua planta.</p>
        </div>
            <div class="upload-area" id="drop-zone">
                <form id="upload-form" action="/classify" method="POST" enctype="multipart/form-data">
                    
                    <input 
                        type="file" 
                        name="image" 
                        id="file-upload" 
                        accept="image/*" 
                        style="display: none;"
                    >
                    <label for="file-upload">📷 Escolher Imagem</label>
                    <p>Ou arraste e solte sua imagem aqui</p>
                    
                    <div id="file-name"></div>
                    
                    <div id="preview-container">
                        <img id="image-preview" src="#" alt="Prévia" style="display: none;">
                    </div>
                    
                    <p class="loading-message" id="loading" style="display: none;">
                        Processando imagem, por favor aguarde...
                    </p>
                    <!-- Botão de envio ID para estilizar JS -->
                    <button type="submit" id="submit-btn">Enviar</button>
                    <button type="button" id="remove-file" style="display: none;">Remover imagem</button>
                </form>
            </div>        

    </div>
    
    <div class="footer">
        <strong>Contato e Mais Informações</strong><br>
        Para saber mais sobre o projeto ou contribuir, entre em contato conosco:<br>
        E-mail: <a href="mailto:samuelbonfim.silva@mackenzista.com.br">samuelbonfim.silva@mackenzista.com.br</a>
        <br>
    </div>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
